html, body { margin: 0; padding: 0; height: 100%; width: 100%; }

#lines {
  background-size: 20px 20px;    
  background-image: -webkit-repeating-linear-gradient(0deg, #6E6E6E, #6E6E6E 2px, transparent 2px, transparent 7px),-webkit-repeating-linear-gradient(-90deg, #6E6E6E, #6E6E6E 2px, transparent 2px, transparent 7px);
  background-image:repeating-linear-gradient(0deg, #6E6E6E, #6E6E6E 2px, transparent 2px, transparent 7px),repeating-linear-gradient(-90deg, #6E6E6E, #6E6E6E 2px, transparent 2px, transparent 7px);
  height: 100%;
  width: 100%;
  opacity: 0.04;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
}

#overlay {
	background-image: -webkit-radial-gradient(50% 50%, circle closest-side, transparent 10%,#0d7cb3 400%);
	height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  opacity: 0.5;
}

#curve-designer-container {
	display: inline-block;
	margin: 50px;
	float: left;
	width: 300px;
}

.curve-pointer {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;

	border-top: 15px solid black;
	width: 0px;
	height: 0px;

	position: absolute;
}

#animation-presenter {
	position: relative;
	float: left;
	width: 600px;
	height: 305px;

	margin-top: 50px;
}

#animation-element {
	position: absolute;
	bottom: 20px;
	left: 15px;
	
	width: 100px;
	height: 30px;
	background-color: #fcc;

	-webkit-transition-property: width;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-out;
}

.animation-run {
	width: 600px !important;
}

.box {
	background: rgb(78,142,206);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlOGVjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTZhYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(78,142,206,1)), color-stop(100%,rgba(53,106,160,1)));
	background: -webkit-linear-gradient(top,  rgba(78,142,206,1) 0%,rgba(53,106,160,1) 100%);
	background: linear-gradient(top,  rgba(78,142,206,1) 0%,rgba(53,106,160,1) 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	border: 1px solid rgba(0,0,0,0.3); 
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.2),
				inset 0 1px 0 0px rgba(255,255,255,0.3);
	padding: 15px;
}

a {
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color: rgba(219,87,5,1);
	font-family: 'Yanone Kaffeesatz';
	font-weight: 700;
	font-size: 20px;
	display: inline-block;
	padding: 4px 15px;
	-webkit-border-radius: 8px;
	        border-radius: 8px;
	-webkit-box-shadow:0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	        box-shadow:0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
}
a:active {
	-webkit-box-shadow:0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	   -moz-box-shadow:0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	        box-shadow:0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	position:relative;
	top: 6px;
}